* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body{  
  background: #202020 !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: rgba(255,255,255,0.5) !important;
}

#lg{
  display: flex;
  justify-content: center;
}

#login {
  padding: 20px 67px;
  background: white;
  margin: 5% 0;
  width: 34%;
  box-shadow: 2px 2px 6px 2px grey;
}

#login > h1{
  text-align: center;
  color: #2a2a2a;
  margin: 8% 0;
}

#login p{
  padding: 14px 0;
}

#login >div>div {
  color: #2a2a2a;
  font-size: 22px;
  margin-bottom: 35px;
}

.input {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #929292;
}

#login input {
  width: 93%;
  font-size: 18px;
  padding: 5px 12px;
  border: none;
  color: #202020;
}

#signin {
  display: flex;
  justify-content: center;
  margin: 8% 0 6%;
}

#signin>button {
  font-size: 20px;
  color: white;
  padding: 15px 0;
  width: 100%;
  border: none;
  background: #2980b9;
}

#signin>button:hover {
  background: #4d8db3;
}

#todoterminal {
  display: flex;
  justify-content: center;
}

td,th {
  width: 20%;
  border: 1px solid #333;
  font-size: 16px;
 
}

#loginerror {
  color: red;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

#todoterminal > div {
  width: 75%;
  display: flex;
  justify-content: center;
  background: white;
  padding: 40px 0;
}

#todoterminal > div > div {
  width: 80%;
}

#todoterminal > header {
  border: 1px solid #aeaaab;
  width: 20%;
  background: #2a2a2a;
  padding: 50px 0;
  color: white;
  font-size: 24px;

}

#todoterminal > header span{
  font-size: 16px;
  padding-top: 1.5%;
}

#todoterminal > header >div{
  margin-bottom: 50%;
  padding: 14px;
}
#todoterminal > header p{
  font-size: 28px;
}


#productinterminal {
   display: flex;
   justify-content: center;
}

#todoterminal td input {
  width: 100%;
  font-size: 16px;
  border: none;
  padding: 2px 5px;
}

#amount {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  margin: 2% 0;
  color: #202020;

}

.radio {
  width: 20%;
  font-size: 16px;
  padding-top: 40px;
}

#amount>div >span {
  padding: 2% 0 2% 0;
  width: 100%;
  margin-top: 3%;
  display: block;
}

#amount>div >span:nth-child(2) {
  background: white;
  padding: 2% 0 2% 3%;
}

#headerlist > li {
  padding: 25px 10px;
}
.toggledlist{
  background: #2980b9;
}

#headerlist li:hover {
  background: #2980b9;
}

#transactionlist {
  padding: 5% 30px 5% 10px;
}

#headerlist div li{
  padding: 12px 0 12px 20px;;
}

#headerlist div {
  margin: 5px;
}

#transactionlist:hover ul {
  display: inline;
}

#transactionlist > ul {
  background: #2a2a2a;
  width: 100%;
  padding: 7% 0;
}
#transactionlist span {
  display: flex;
  justify-content: space-between;
  font-size: 22px !important;
  padding: 2px 0;
}

.menuicon {
  font-size: 33px;
}

#transactionlist  li {
  padding: 2% 3%;
}

#changer {
  display: flex;
  justify-content: flex-end;
}


#changer>div {
  margin-left: 0.1%;
  color: #343938;
  font-size: 16px;
  width: 20%;
}

#changer input {
  padding: 5px 4px;
  width: 100%;
}

#changer p {
  margin-bottom: 10%;
}

#changer>div span {
  padding: 3.3px 4px;
  width: 100%;
  margin-top: 7.4%;
  display: block;
  background: white;
  height: 28px;
}
#done {
  display: flex;
  justify-content: flex-end;
  margin: 3% 0;
}

#done button {
  font-size: 16px;
  border: none;
  background: #2980b9;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  padding: 11px 35px;
}

#donetrans {
  margin-right: 10px;
}

#donetrans:hover {
  background: #6c95ad;
}

#canceltrans:hover {
  background: crimson;
}

#branchname{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

#branchname >select{
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
  border: none;
  color: #bbb;
}

#logout {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 21.9% 30px 21%
}

#logout:hover {
  background: #4b5154;
}

.radio label {
  padding-right: 13px;
}

.nonegivenmoney {
  border: 1px solid red;
}

.likeinput {
  border: 1px solid darkgrey;
  height: 38px;
}

#amount>div:last-child {
  width: 20%;
}

.custom-control-label {
  color: #202020;
}

#delivery {
  margin-bottom: 30px;
}

.nonfill {
  color: red;
}